@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-card: var(--card);
}

:root {
  --background: #f3f3f3;
  --card: #ffffff;
}

.dark {
  --background: #121212;
  --card: #212126;
}

html,
body {
  font-family: "Inter", sans-serif;
  height: 100%;
}

body {
  @apply bg-background;
}
